fastapi==0.110.1
uvicorn[standard]==0.28.0
SQLAlchemy==2.0.23
alembic==1.13.1
psycopg2-binary==2.9.9
python-dotenv==1.0.1
passlib[bcrypt]==1.7.4
python-jose==3.3.0
pydantic==2.7.1

pydantic-settings==2.3.1

email-validator>=2.1.0

Jinja2==3.1.2
WeasyPrint==59.0
pydyf==0.9.0
bcrypt==4.0.1
azure-storage-blob==12.19.1
segno==1.6.1
requests>=2.31.0
twilio>=9.0.0
PyPDF2>=3.0.1
phonenumbers>=8.13.0
